<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
<div class="card" style="width: 80%;">
  <div class="card-body">
    <strong class="card-title"><%=post.title%></strong>
    
    <small class="card-title"> post by: <%=session_status_member_name post%></small>
 
    <p class="card-text"><%= post.content %></p>
   
  </div>
</div>

  <% end %>



